@using CyberWebSystem.Dtos;
@model CyberWebSystem.Models.Flete

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recibo</title>
    <link href="~/css/printer.css" rel="stylesheet" />
    <script src="~/js/qrcode.min.js"></script>
</head>
<body onload="window.print();" onafterprint="history.back()">
    <div class="contenedor onlyPrint">
        <div style="text-align: center">
            <img src="~/images/Vexels-Office-Desktop.512.png" alt="logo" width="50px" />
            <br />
            <h3>
                Cyber System <br />
                COFFEE
            </h3>

            <h1>RECIBO # @Html.DisplayFor(model => model.Id)</h1>
            
        </div>

        <hr />

        <dl class="row">
            <dt class="col-sm-12">
                Fecha: @Html.DisplayFor(model => model.Fecha)
            </dt>
            <dt class="col-sm-12">
                CI: @Html.DisplayFor(model => model.Cliente!.Ci)
            </dt>
            <dt class="col-sm-12">
                Cliente: @Html.DisplayFor(model => model.Cliente!.NombreCompleto)
            </dt>
            <hr />
            <p>Datos del Equipo</p>
            <dt class="col-sm-12">
                Codigo: @Html.DisplayFor(model => model.Equipo!.Codigo)
            </dt>
            <dt class="col-sm-12">
                Fecha: @Html.DisplayFor(model => model.Fecha)
            </dt>
            <dt class="col-sm-12">
                Desde: @Html.DisplayFor(model => model.Fecha.Hour) Hasta: @Html.DisplayFor(model => model.Fecha + model.Hora)
            </dt>

            <dt class="col-sm-12">
                Costo: @Html.DisplayFor(model => model.Costo)
            </dt>
        </dl>
        <hr />
        

        <br />
        
        @{
            string literal = Global.NumeroALetras(Model.Costo);
        }
        Son: @literal


        <div style="margin-top: 20px; width:100%">
            <div id="qrcode"></div>
        </div>

        <p>Usuario: @Model.Usuario!.Email</p>
        <div style ="text-align: center"><img src="~/images/Vexels-Office-Desktop.512.png" alt="logo" width="50px" /></div>
        
    </div>
    
</body>
</html>
