@model IEnumerable<CyberWebSystem.Models.Cliente>

@{
	ViewData["Title"] = "Index";
}

<h1>Listado de Clientes Registrados</h1>

<p>
	<a asp-action="Create" class="btn btn-info">CREAR NUEVO</a>
</p>


<div>
	<p>Buscar por Nombre o CI:</p>
	<input id="search" />
	<button onclick="search()">Buscar</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				<!--@Html.DisplayNameFor(model => model.Ci)-->
				CI
			</th>
			<th>
				<!--@Html.DisplayNameFor(model => model.NombreCompleto)-->
				Nombre Completo
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>	
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Ci)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreCompleto)
				</td>
				<td>
					<a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Editar</a>
					<a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Asignar Maquina</a>
					<a asp-action="Delete" class="btn btn-info" asp-route-id="@item.Id">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@section scripts
	{
	<script>
    function search() {
        var searchTerm = $("#search").val().toLowerCase();

        $("tr").each(function (index, value) {
            if (index > 0) {
                var ciValue = $(this).find("td:eq(0)").text().toLowerCase();
                var nombreCompletoValue = $(this).find("td:eq(1)").text().toLowerCase();

                if (!ciValue.includes(searchTerm) && !nombreCompletoValue.includes(searchTerm)) {
                    $(this).attr("hidden", true);
                } else {
                    $(this).removeAttr("hidden");
                }
            }
        });
    }

		$("#search").keydown(function (event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				search();
			}
		});
</script>
}