@model IEnumerable<CyberWebSystem.Models.Equipo>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create" style="border: 1px solid #000; border-radius: 5px; padding: 5px 10px; ">Create New</a>
</p>

<div>
	<p>Buscar por el Codigo:</p>
	<input id="search" />
	<button onclick="search()">Buscar</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Codigo)<br>Identificador
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Detalle)s del Equipo 
			</th>
			<th>
				Fotos del<br>Equipo
			</th>
			<th>
				<!--@Html.DisplayNameFor(model => model.Estado)--></>
				Disponibilidad
			</th>
			<th>
				Opciones
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Codigo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Detalle)
				</td>
				<td>
					<!-- Para mostrar las fotos del equipo ingresamos la linea de codigo siguiente -->
					<img src="~/Imagenes/@item.Imagen" class="img-thumbnail" width=" 150px">
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@section scripts
	{
	<script>
		function search() {
			var searchTerm = $("#search").val().toLowerCase();

			$("tr").each(function (index, value) {
				if (index > 0) {
					var codigoValue = $(this).find("td:eq(0)").text().toLowerCase();

					if (!codigoValue.includes(searchTerm))) {
						$(this).attr("hidden", true);
					} else {
						$(this).removeAttr("hidden");
					}
				}
			});
		}

		$("#search").keydown(function (event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				search();
			}
		});
	</script>
}